<h3>Mover datos drang and drop</h3>
<br /><br />
<div class="container mb-5">
  <label class="form-label">Search</label>
  <input class="form-control" [(ngModel)]="searchField" />
</div>
<div class="row">
  <br />
  <div class="col-sm-3">
    <ul class="list-group">
      <li
        draggable
        *ngFor="let item of items | searchPipe : searchField"
        [dragData]="item"
        class="list-group-item"
      >
        {{ item.name }}
      </li>
    </ul>
  </div>

  <div class="col-sm-3" style="max-height: 250px; overflow: auto">
    <div class="panel panel-default" droppable (onDrop)="onItemDrop($event)">
      <div class="panel-heading" *ngIf="!nameGroup"> Arraste aquí</div>
      <div class="panel-heading" *ngIf="nameGroup"> Nombre del grupo: {{nameGroup }}  <i style="cursor: pointer;" class="fa-solid fa-trash" (click)="cleanGroup()"> eliminar</i></div>
      <div class="panel-heading" *ngIf="droppedItems.length > 0"> <input type="checkbox" (click)="selectAll($event)" /> Seleccionar todos</div>
      <div class="panel-body">
        <li *ngFor="let item of droppedItems" class="list-group-item">
          <input type="checkbox" [checked]="item.checked" /> {{ item.name }}
        </li>
      </div>
    </div>
  </div>
</div>
